<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<%= javascript_include_tag 'application' %>

<h2>List of Orders</h2>

<%= link_to 'Click here', orders_path%>

<hr>

<h2>List of Customers</h2>

<%= link_to 'Click here', customers_path%>

<hr>

<h2>Profit Chart for <%= Date.today.to_s(:long) %></h2>
<p> (Time Zone is in UTC) </p>

<%= line_chart profit_details_path %>

<hr>

<h2>List of Products</h2>

<%= link_to 'Click here', products_path%>

<hr>
